:root {
    --min-font-size: 16px;
    --max-font-size: 24px;
}

p {
    font-size: calc(var(--min-font-size) + (var(--max-font-size) - var(--min-font-size)) * ((100vw - 320px) / (1600 - 320)));
}

h1 {
    font-size: calc(var(24px) + (var(32px) - var(24px)) * ((100vw - 320px) / (1600 - 320)));
    color: #fff;
}

a{
  text-decoration: none;
  color:rgba(16, 203, 236) !important ;
}

.tab {
  cursor: pointer;
}

/* customize scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border: 1px solid #939AA9;
    border-radius: 100px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #939AA9;
    ;
    border-radius: 100px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #939AA9;
    ;
  }
  
  .container{
    max-width: 900px !important;
  }

  .btn-primary-base {
    background: rgba(16, 203, 236, 0.76);
    color: #151515;
    font-weight: 500;
    min-width: fit-content;
  }

  .upper-section{
    background: #02183e;
    min-height: 80vh;
    padding-bottom: 70px;
  }

  .input-group{
    height: 60px;
  }

  /* floating button */
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }

  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }

  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }

  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }

  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }

  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }

  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

.floating-container {
  position: fixed;
  z-index: 9999;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}

.floating-container:hover {
  border-radius: 0%;
  width: 150px;
  height: 300px;
}

.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(29, 26, 26, 0.6);
  -webkit-transform: translatey(5px);
  transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
  animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
  animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
  animation: come-in 0.4s forwards 0.6s;
}

.floating-container:hover .element-container .float-element:nth-child(4) {
  -webkit-animation: come-in 0.4s forwards 0.8s;
  animation: come-in 0.4s forwards 0.8s;
}

.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #E8EAEA;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  margin-right: 0px;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 9999;
  box-shadow: 0 10px 25px -5px rgba(232, 234, 234, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container .float-element {
  position: relative;
  display: block;
  z-index: 0;
  opacity: 0;
  float: right;
  margin: 10px auto;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}
.navbar-brand{
  color: #151515 !important;
  font-weight: 500;
}
.social-media{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.bg-footer{
  background:rgba(16, 203, 236, 0.76);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.image-size{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.fs-small{
  font-size: 12px;
}
.item-link{
  cursor: pointer;
  color: black !important;
  text-decoration: none;
}


.qr-bg-color-box{
  border-radius: 4px;
  border:2px solid #151515;
  background-color: #ffffffff;
}

.qr-color-box{
  border-radius: 4px;
  border:2px solid #151515;
  background-color: #000000ff;
}

@media(max-width:992px) {
  .image-size{
      width: 150px;
      height: 150px;
  }
}

@media(max-width:767px){
  .image-size{
      width: 130px;
      height: 130px;
  }
}
/* end */
  @media(max-width: 768px){
    .input-group{
      height: 35px;
    }
    
  .floating-container {
    margin: 12px !important;
  }

  .floating-container .floating-button {
    margin-right: 0px !important;
  }

  }